:root[data-density="comfortable"] .commit-row {
  --git-tree-node-y: 27px;
  min-height: 84px;
}

:root[data-density="comfortable"] .commit-row.is-selected {
  min-height: 142px;
}

:root[data-density="comfortable"] .commit-content {
  padding-top: 15px;
  padding-bottom: 13px;
}

:root[data-density="comfortable"] .file-row {
  min-height: 46px;
}
